.principal{
    padding: 10px;
    margin: 10px;
    border: 1px solid brown;
    position: relative;
}
.cor1{
    background-color: red;
    width: 200px;
    height: 200px;
}
.cor2{   
    background-color: blue;
    width: 250px;
    height: 250px;
    position: absolute;
    top: 50px;
    left: 50px;
    z-index: -5;
}